<div class="ctn-animation" [@bye]='type'>
  <img [@animationFace]= "type" class="hide" src="https://api.adorable.io/avatars/1018" alt="">
  <ul>
    <li>
      <button class="hide" on-mouseover='onRoundOut()' on-mouseleave='mouseLeave()'>Round out</button>
    </li>
    <li>
      <button class="hide" on-mouseover='onRotate()' on-mouseleave='mouseLeave()'>Rotate</button>
    </li>
    <li>
      <button class="hide" on-mouseover='hinge()' on-mouseleave='mouseLeave()'>Hinge</button>
    </li>
    <li>
      <button class="hide" on-mouseover='crazyTime()' on-mouseleave='mouseLeave()'>Crazy Time</button>
    </li>
    <li>
      <button class="hide" on-mouseover='opacity()' on-mouseleave='mouseLeave()'>Bye</button>
    </li>
  </ul>

</div>